@import "tailwindcss";

@theme {
  --font-sans:
    "SF Pro Display", "SF Pro Text", "PingFang SC", "Helvetica Neue", sans-serif;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  background: #f5f7fb;
  font-family:
    "SF Pro Display", "SF Pro Text", "PingFang SC", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
